@media(max-width: 768px){
    .sectionOne{
        padding: 1.5625rem;
        height: 80vh;
        h1{
            padding-top: 3.75rem;
            margin-bottom: 1.875rem;
            @include font(2.875rem, 700, 3.125rem, .0875rem);
            font-size: 2.875rem;
            font-weight: 700;
            line-height: 3.125rem; 
            letter-spacing: .0875rem;
        }
        span{
            @include font(2.875rem, 700, 3.125rem, .0875rem);
            font-size: 2.875rem;
            font-weight: 700;
            line-height: 3.125rem; 
            letter-spacing: .0875rem;
        }
        p{
            width: 80%;
            margin-left: 2rem;
            @include font(1rem, 700, 1.5625rem, .05rem);
            font-size: 1rem;
            font-weight: 700;
            line-height: 1.5625rem;
            letter-spacing: .05rem;
        }
        button{
            padding: .5rem 1.25rem;
            margin: 1.875rem;
            a{
                font-weight: 500;
                letter-spacing: .125rem;
                font-size: 1rem;
            }
        }
    }

    .sectionTwo{
        background-color: #EFEAD8;
        width: 100%;
        padding-top: 0;
        .imagesSectionTwo{
            @include flex(none, space-evenly, none);
            flex-wrap: wrap;
        }
        .carousel-inner{
            width: 18.75rem;
            margin: 0 auto;
        }
        img{
            width: 7.9375rem;
            margin-top: 2.5rem;
        }
        h2{
            margin-top: 4.375rem;
            margin-bottom: 1.875rem;
            @include font(1.5rem, 700, 2.5rem, .075rem);
        }
        span{
            @include font(1.5rem, 700, 2.5rem, .075rem);
        }
        p{
            @include font(1rem, 700, 1.5625rem, .05rem);
            padding-left: 1.25rem;
            padding-right: 1.25rem;
            margin-bottom: 2.5rem;
        }
    }

    .sectionThree{
        background-color: #FFFEFB;
        padding-left: 1.25rem;
        padding-right: 1.25rem;

        .solutionsHome{
            @include flex(column, none, center);
            margin-top: 2.5rem;
            margin-bottom: 2.5rem;
            font-weight: 500;
            font-size: 1.25rem;
            padding-left: 0;
        }
        .descriptionSectionThree{
            @include flex(none, space-around, none);
            flex-wrap: wrap;
            p{
                margin-left: 1.25rem;
                margin-right: 1.25rem;
                @include font(1rem, 700, 1.5625rem, .05rem);
            }
            .plantPhone{
                margin-bottom: 2.5rem;
                width: 13.625rem;
                height: 13.625rem;
            }
        }
        
    }
    .sectionFour{
        @include flex(column, none, center);
        padding-bottom: .625rem;
        h2{
            @include font(1.75rem, 700, 2.5rem, .0875rem);
        }
    }

}