@media(max-width: 768px){
.sectionOne{
    p{
        width: 5rem;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.5625rem;
        letter-spacing: .05rem;
    }
    h1{
        margin-bottom: 2.875rem;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        letter-spacing: .1875rem;
        font-size: 3.75rem;
        color: #4B594D;
    }
    span{
        margin-bottom: 2.875rem;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        letter-spacing: .1875rem;
        font-size: 3.75rem;
        color: #6D8B74;
    }
    button{
        background-color: #6D8B74;
        padding: .75rem 2.1875rem;
        margin: 4rem;
        border: none;
        border-radius: 3.75rem;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        &:hover{
            color: #4B594D;
        }
        a {
            text-decoration: none;
            font-weight: 500;
            letter-spacing: .125rem;
            color: #FFFEFB;
            font-family: 'Lato', sans-serif;
            font-size: 2rem;
        }
    }
    img{
        width: 7.9375rem;
        margin-top: 2.5rem;
    }
}

.sectionTwo{
    h2{
        margin-top: 4.375rem;
        margin-bottom: 1.875rem;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.5rem;
        letter-spacing: .075rem;
    }
    span{
        margin-top: 4.375rem;
        margin-bottom: 1.875rem;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.5rem;
        letter-spacing: .075rem;
    }
    p{
        font-weight: 300;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.5625rem;
        letter-spacing: .05rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        margin-bottom: 2.5rem;
    }
}

.sectionFour{
    h2{
        font-size: 46px;
        font-style: normal;
        font-weight: 700;
        line-height: 3.75rem;
        letter-spacing: .1437rem;
    }
    .leafOne{
        width: 15.625rem;
        height: 8.625rem;
    }
    .leafTwo{
        width: 15.625rem;
        height: 8.625rem;
    }
}


}