@media(max-width: 1024px){
    .sectionCommOne{
        margin-top: 1.25rem;
        .welcomComm{
            @include flex(none, space-between, none);
            padding-right: 3.125rem;
            padding-left: 3.125rem;
            align-items: center;
            margin-bottom: 2.5rem;
            h1{
                margin-top: 3.4375rem;
                font-size: 2.875rem;
                font-style: normal;
                font-weight: 700;
                line-height: 5rem;
                letter-spacing: .1437rem;
            }
            span{
                font-size: 2.875rem;
                font-style: normal;
                font-weight: 700;
                line-height: 5rem;
                letter-spacing: .1437rem;
            }
            img{
                height: 100%;
                width: 20.875rem;
            }
        }
        .searchComm{
            .search-bar{
                input{
                    font-weight: 400;
                    font-size: 1.125rem;
                    padding-left: 20px;
                    font-size: 1.25rem;
                    border: 4px solid #6D8B74;
                    text-indent: 2rem;
                    width: 25.3125rem;
                    height: 3.125rem;
                    border-radius: 2.3rem;
                }
                img{
                    width: .9375rem;
                    height: .9375rem;
                    position: absolute;
                    left: 30px;
                    top: 18px;
                }
            }
        }
    }
    .sectionCommTwo{
        display: grid;
        grid-template-columns: repeat(2 1fr);
        grid-template-rows: repeat(3, 22.0625rem);
        grid-template-areas:
        "blog-card1 blog-card2"
        "blog-card3 blog-card4"
        "blog-card5 blog-card6"
        ;
        column-gap: 4.0625rem;
        row-gap: 0;
        padding-left: 3.125rem;    
        padding-right: 3.125rem;
        .blog-card img{
            width: 18.125rem;
        }
        .blog-card-content{
            display: flex;
            justify-content: center;
            img{
                padding-right: .0625rem;
                width: 3.75rem;
                height: 3.75rem;
            }
            p{
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 1.25rem;
                letter-spacing: .0437rem;
            }
        }
    }
    .sectionCommThree{
        margin-top: 3.125rem;
        .webinar{
            padding-bottom: 3.125rem;
            .webinar-card{
                @include flex(row, space-between, center);
                padding-right: 1.75rem;
                height: 6.25rem;
                margin-left: 3.125rem;
                margin-right: 3.125rem;
                margin-bottom: 3.125rem;
                img{
                    margin-left: 1.75rem;
                    margin-right: .9375rem;
                    width: 4.4375rem;
                    height: 4.4375rem;
                    border-radius: .5625rem;
                }
                h3{
                    font-size: 1.25rem;
                    font-weight: 500;
                    line-height: 1.5625rem;
                    letter-spacing: .1rem;
                    display: inline;
                }
                p{
                    font-size: .875rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 1.5625rem;
                    letter-spacing: .0437rem;
                    padding: 5px;
                }
            }
        }
        
    }
    .sectionCommFour{
        h2{
            margin-top: 3.4375rem;
            font-size: 2.875rem;
            font-style: normal;
            font-weight: 700;
            line-height: 5rem;
            letter-spacing: .1437rem;
            padding-top: 3.125rem;
        }
        span{
            margin-top: 3.4375rem;
            font-size: 2.875rem;
            font-style: normal;
            font-weight: 700;
            line-height: 5rem;
            letter-spacing: .1437rem;
    }
    input{
        margin-top: 4.375rem;
        border: 4px solid #6D8B74;
        height: 3.375rem;
        border-radius: 2.875rem;
        margin-bottom: 3.125rem;
    }
    .email-input{
        width: 30rem;
        color: #666;
        font-family: 'Lato', sans-serif;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.5625rem;
        letter-spacing: .075rem;
        text-indent: 1.875rem;
        box-shadow: 0rem .25rem .25rem 0rem #898989;
    }
    .send-input{
        position: absolute;
        right: 0;
        width: 7.5rem;
        border: none;
        background-color: #6D8B74;
        box-shadow: 0rem .25rem .25rem 0rem #898989;
        color: #FFFEFB;
        font-family: 'Lato', sans-serif;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.5625rem;
        letter-spacing: .075rem;
        text-align: center;
    }
    }    

}