.signup{
    background-color: $dark-green;
    @include flex(none, center, none);
    height: 8.75rem;
    text-align: center;
    img{
        width: 17.8125rem;
        padding-top: 2.5rem;
    }
}
    .form{
        padding-top: 3.125rem;
        height: 46.875rem;
        background-color: $dark-green;
        text-align: center;
        font-family: $Lato;
        border-color: $dark-green;
        h1{
            font-family: $Lato;
            font-weight: bold;
            font-weight: 500;
            font-size: 3.75rem;
            color: $almost-white;
            margin-bottom: 3.75rem;
        }
        p{
            font-family: $Merri;
            font-weight: lighter;
            color: $almost-white;
        }
        input{
            margin-bottom: 1.25rem;
            color: #666666;
            border: none;
            text-indent: .625rem;
            width: 25rem;
            height: 2.5rem;
            border-radius: .625rem;
        }
        .submitSignUp{
            margin-top: 1.25rem;
            margin-bottom: .625rem;
        }
        button{
            background-color: $dark-green;
            &:hover{
                background-color: $dark-green;
            }
            width: 25rem;
            height: 2.5rem;
            border: 1px, $almost-white;
            border-radius: .625rem;
            a{
                text-decoration: none;
                @include font(.75rem, 300, none, .125rem);
                color: $almost-white;
                font-family: $Lato;
            }
        }
        
    }   
    .footerSignUp{
        background-color: $dark-green;
    }