@media(max-width: 768px){
.signup{
    @include flex(none, center, none);
    height: 8.75rem;
    img{
        width: 17.8125rem;
        padding-top: 2.5rem;
    }
}
    .form{
        padding-top: 3.125rem;
        height: 46.875rem;
        h1{
            font-weight: 500;
            font-size: 3.75rem;
            color: $almost-white;
            margin-bottom: 3.75rem;
        }
        p{
            font-weight: lighter;
            color: $almost-white;
        }
        input{
            margin-bottom: 1.25rem;
            text-indent: .625rem;
            width: 25rem;
            height: 2.5rem;
            border-radius: .625rem;
        }
        .submitSignUp{
            margin-top: 1.25rem;
            margin-bottom: .625rem;
        }
    }   
}