@media(max-width: 1202px){
.sectionAboutTwo{
    display: grid;
    grid-template-columns: repeat(2 50%);
    grid-template-rows: repeat(2 50%);
    grid-template-areas:
    "aboutPlantLife aboutPlantLifeImage"
    "aboutImages aboutUs"
    ;
    padding-top: 9.375rem;
    padding-left: 5rem;
    padding-right: 5rem;
    background-color: $dark-green;
    img{
        border-radius: 15px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    .aboutPlantLife{
        margin-bottom: 7.5rem;
        h2{
            font-size: 3rem;
            font-weight: 700;
            line-height: 3.75rem;
            letter-spacing: .1875rem;
        }
        p{
            padding-top: 2.5rem;
            padding-right: .3125rem;
            width: 23.75rem;
            font-size: 1.125rem;
            font-weight: 700;
            line-height: 2.1875rem;
            letter-spacing: .0625rem;
            text-indent: 0;
        }
    }
    .aboutPlantLifeImage img{
        margin-bottom: 3.125rem;
        height: 17.5rem;
    }
    .aboutUs{
        h2{
            text-align: center;
            font-size: 3rem;
            font-weight: 700;
            line-height: 3.75rem;
            letter-spacing: .1875rem;
            text-indent: 0;
        }
        p{
            text-align: right;
            padding-top: 3.75rem;
            width: 27rem;
            font-size: 1.125rem;
            font-weight: 700;
            line-height: 2.1875rem;
            letter-spacing: .0625rem;
            text-indent: 0;
            margin-bottom: 7.5rem;
        }
    }
    .sectionAboutTwo img{
        border-radius: 15px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    .lilyImage{
        width: 17.5rem;
        margin-bottom: 3.125rem;
    }
    .plantAbout{
        width: 17.5rem;
    }
}
}