header{
    @include flex(none, flex-end, center);
    padding-right: 3.125rem;
    background-color: $dark-green;
    width: 100%;
    .navbar-brand img{
        position: absolute;
        left: 3.125rem;
        top: .75rem;
        height: 1.875rem;
    }
    .navbar-nav .nav-item.active .nav-link {
        color: $dark-green;
    }
    .navbar-toggler{
        background-color: #FFFEFB;
        border: none;
        &:focus{
        all: unset;
        }
    }
    .navbar-toggler-icon {
        width: 1.5625rem;
        background-image: var(--bs-navbar-toggler-icon-bg);
    }
    .navbar li a{
        margin-left: .3125rem;
        text-decoration: none;
        font-family: 'Lato', sans-serif;
        color:#FFFEFB;
        &:hover{
        color: $light-green;
    }
    }
.dropdown-menu{
    background-color: $light-green;
    width: 6.25rem;
    }
}