footer{
    background-color: $almost-white;
    padding-top: 3.4375rem;
    padding-left: 7.5rem;
    .pagesFooter{
        @include flex(none, center, none);
    }
    .solutions-footer{
        list-style: none;
        line-height: 1.25rem;
        margin-right: 3.125rem;
    }
    .guides-footer{
        @extend .solutions-footer;
    }
    .community-footer{
        list-style: none;
        line-height: 1.875rem;
    }
    a{
        text-decoration: none;
        font-family: $Lato;
        font-size: 1.75rem;
        color:$dark-green;
        &:hover{
            color: $light-green;
            font-weight: 900;
        }
        .logo-footer{
            width: 12.8125rem;
        }
    }
    p{
        text-decoration: none;
        margin-top: 1.25rem;
        line-height: .625rem;
        font-family: $Merri;
        font-size: 1rem;
        color:$dark-green;
    }
    .social-media{
        @include flex(none, flex-end, none);
        margin-right: 7.5rem;
        padding-bottom: 3.125rem;
        img{
            width: 2.5625rem;
        }
        .ig{
            margin-right: 1.25rem;
        }
    }
}